.checkbox-wrapper {
    background-color: none;
    box-sizing: border-box;
    border-radius: 13px;
    z-index: 9;

    legend {
        background-color: #000;
        padding: 20px 20px 20px 20px;
        font-size: 18px;
        font-family: inherit;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #bbbbbb;
        display: inline-block;
        box-sizing: content-box;
    }
}

.checkbox-container {
    padding: 0;
}

.checkbox {
    position: relative;
    display: inline;
    color: #999;

    &:last-child {
        border-bottom: none;
    }
}

.checkbox input[type="checkbox"] {
    display: none;

    label:before {
        border-color: #EFD345;
    }
}

.checkbox input:checked + label {
    color: #EFD345;
}

.checkbox input:checked + label:before {
    border-color: #EFD345;
}

.checkbox label:before {
    content: '';
    position: absolute;

    padding: 9px;
    display: block;
    transition: transform 0.28s ease;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

.checkbox label:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #EFD345;
    border-left: 2px solid #EFD345;
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: relative;
    top: 8px;
    left: 6px;
    cursor: pointer;
}

.checkbox label {
    min-height: 34px;
    position: relative;
    display: block;
    text-align: center;
    font-weight: normal;
}

.checkbox label span {
    left: 30px;
    display: block;
    position: absolute;
    font-size: 16px;
    text-shadow: 1px 1px 1px #999;
    cursor: pointer;

    &:hover {
        color: #EFD345;
    }
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: 0;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
    transform: rotate(-45deg) scale(1);
}