.progress-div {
    width: 100%;
    background-color: rgb(233, 233, 233);
    border-radius: .5rem;
}

.progress {
    background-color: #4e944f;
    border-radius: 1rem;
    transition: 1s ease;
    color: #fff;
    font-size: 14px;
  }